.heading1 {
    font-family: sans-serif;
    color: lightgray;
}

.mainPara {
    font-family: sans-serif;
    color: lightgrey;
    text-align: center;
    padding: 5px;
    font-size: 40px;
}

body {
    background-color: #151616;
}

.congratsImg {
    display: block;
    margin: auto;
    width: 50%;
    visibility: hidden;
}